body > header {
  margin-bottom: 16px;
  box-shadow: 0 1px 2px 0 rgba(50, 50, 50, 0.2); }
  body > header .branding {
    font-weight: bold;
    line-height: 32px;
    font-size: 20px;
    margin: 20px 0; }
    @media (max-width: 767px) {
      body > header .branding {
        text-align: center; } }
    body > header .branding > img {
      display: inline-block;
      height: 32px; }
      @media (max-width: 767px) {
        body > header .branding > img {
          width: 100%; } }

.styleguide-sections {
  counter-reset: styleguide-section-counter; }
  .styleguide-sections .styleguide-section {
    overflow: auto;
    margin-bottom: 48px; }
    .styleguide-sections .styleguide-section header {
      margin-bottom: 32px; }
      .styleguide-sections .styleguide-section header h1 {
        position: relative;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold; }
        .styleguide-sections .styleguide-section header h1:before {
          color: #777;
          padding-right: .5rem;
          content: counter(styleguide-section-counter, decimal-leading-zero);
          counter-increment: styleguide-section-counter; }
        .styleguide-sections .styleguide-section header h1:after {
          content: '';
          width: 100%;
          display: block;
          margin-top: 8px;
          border-bottom: 1px solid #c5c5c5; }

.color-card .color-name {
  margin: 0;
  font-weight: bold;
  font-size: 14px; }

.color-card .color-code {
  margin: 0;
  font-size: 12px; }
  .color-name + .color-card .color-code {
    margin-top: 8px; }

.color-strips {
  overflow: auto;
  margin: -1px; }
  .color-strips .color-strip {
    height: 125px; }
