<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title"><%= cardTitle %></h3>
		<% if (typeof cardSubtitle != 'undefined') { %>
		<h4 class="panel-subtitle"><%= cardSubtitle %></h4>
		<% } %>
	</div>
	<div class="panel-body">

	</div>
</div>