<% include ./common/header.ejs %>
</head>
<body>
	<div id="status">Getting geolocation...</div>
	<div id="map"></div>
	<div id="modal"></div>

	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/underscore-min.js"></script>
	<script src="/js/bluebird.min.js"></script>
	<script src="/js/leaflet.js"></script>
	<script src="/js/ejs-2.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/us-states.js"></script>
	<script src="/js/MapApp.js"></script>
	<script src="/js/require.js"></script>
	<script>
		var uspsuser = <%= uspsuser %>;
		requirejs.config({
			baseUrl: 'js'
		});

		function GetZipcode(zipcode) {
			GeoCode.zipcode(zipcode).then(function (state) {
				HidePromptForZip();
				DrawMap(state);
			}).fail(function () {
				alert('sorry failed zipcode');
				$('#zipcodeInput').val("");
				PromptForZip();
			});
		}

		function DrawMap(state) {
			var map = new MapApp({
				height: 250,
				width: 500
			});
			map.create();
			var style = function (feature) {
				return {
					fillColor: '#800026', //feature.properties.name ? '#800026' : null,
					weight: 1,
					opacity: 1,
					color: 'white',
					//dashArray: '3',
					fillOpacity: 0.7
				};
			};

			map.add('layer', getStateGeoJSON([state]), {
				style: style
			});
		}

		requirejs(['SyncFileReader'], function (SyncFileReader) {
			/* globals
			 PromptForZip, HidePromptForZip
			 */

			function handleGeoLocError() {
				$('#status').hide();
				PromptForZip();
			}

			$(document).ready(function () {
				var modal = ejs.render(SyncFileReader.request('/templates/zipcode.ejs'));
				$('#modal').append(modal);

				if ('geolocation' in navigator) {
					navigator.geolocation.getCurrentPosition(GetLatLon, handleGeoLocError, { timeout: 1500, enableHighAccuracy: false, maximumAge: 30000 });
				} else {
					handleGeoLocError();
				}
			});

			function GetLatLon(location) {
				$('#status').hide();
				GeoCode.latlon({
					lat: location.coords.latitude,
					lon: location.coords.longitude
				}).then(function (state) {
					HidePromptForZip();
					DrawMap(state);
				}).fail(function () {
					PromptForZip();
				});
			}
		});
	</script>
</body>
</html>
