<% include ./common/header.ejs %>
<% include ./common/brie-core-js.ejs %>
</head>
<body>
	<div class="container">
		<div id="status">Getting geolocation...</div>
		<div id="map"></div>
		<div id="modal"></div>
		<form class="col-md-4" id="zipcodeForm" name="zipcodeForm" action="javascript:void(0);">
			<div class="modal fade" id="zipcodeModal" tabindex="-1" role="dialog" aria-labelledby="zipcodeModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel">Help us show recalls affecting your area</h4>
						</div>
						<div class="modal-body">
							<div class="input-group input-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
								<input type="text" tabindex="1" class="form-control" id="zipcodeInput" name="zipcodeInput" maxlength="5" required placeholder="Enter Zipcode"/>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" id="zipcodeFormButton" class="btn btn-primary" tabindex="2">Submit</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script data-main="/js/app-landing" src="/js/require.js"></script>
</body>
</html>