<% include ./common/header.ejs %>
</head>
<body>
<% include ./common/page-header.ejs %>
<div class="container">
	<div id="map"></div>
</div>
<% include ./common/page-footer.ejs %>
<div id="modal">
	<form class="col-md-4" id="stateForm" name="stateForm" action="javascript:void(0);">
		<div class="modal fade" id="stateModal" tabindex="-1" role="dialog" aria-labelledby="stateModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">Help us show recalls affecting your state</h4>
					</div>
					<div class="modal-body">
						<select style="width:100%" class="select2" id="stateSelect" required></select>
					</div>
					<div class="modal-footer">
						<div id="stateAutomaticLocation" class="btn btn-primary" tabindex="1">
							Detect Automatically
						</div>
						<button type="submit" id="stateFormButton" class="btn btn-primary" tabindex="3">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<%
var appModule = '/js/app-landing';
%>
<% include ./common/require-application.ejs %>
</body>
</html>