<% include ./common/header.ejs %>
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-body">
				<form>
					<div class="input-group">
						<span class="input-group-addon" id="zipcode-label">Zip</span>
						<input class="form-control" pattern="\d{5}(-\d{4})?" placeholder="Zip code" aria-describedby="zipcode-label">
					</div>
					<input class="btn btn-primary" type="submit" value="Go">
				</form>
			</div>
		</div>
	</div>
	<script data-main="js/app-landing" src="/js/require.js"></script>
</body>
</html>