<% include ./common/header.ejs %>
</head>
<body class="bg-void application">
<% include ./common/page-header.ejs %>
<div class="hero-banner" style="position: fixed; width: 100%; height: calc(100% - 61px); z-index: 0;">
</div>
<div class="hero-banner valign-helper" style="background: none; position: relative; z-index: 1;">
	<div class="valign">
		<div style="border-radius: 0; color: #fff; white-space: normal;">
			<div class="panel-body">
				<object type="image/svg+xml" data="/img/logo-sm-light.svg" alt="Total Briecall"
						class="visible-xs hidden-sm"
						style="max-width: 100px; width: 100%; margin: 0 auto 8px auto;"></object>
				<object type="image/svg+xml" data="/img/logo-md-light.svg" alt="Total Briecall"
						class="visible-sm hidden-xs hidden-md"
						style="max-width: 200px; width: 100%; margin: 4px auto 16px auto;"></object>
				<object type="image/svg+xml" data="/img/logo-light.svg" alt="Total Briecall"
						class="visible-md visible-lg hidden-xs hidden-sm"
						style="max-width: 300px; width: 100%; margin: 28px auto 48px auto;"></object>
				<h4 class="panel-title" style="font-size: 28px; text-shadow: 0 1px 2px rgba(0, 0, 0, .5);">Personalized
					Food Recalls Just for You</h4>
				<h5 class="panel-subtitle"
					style="font-size: 16px; color: rgb(240, 240, 240); text-shadow: 0 1px 2px rgba(0, 0, 0, .5);">Get
					started by finding recalls in your state.</h5>

				<form class="col-md-offset-2 col-md-8 text-center" style="margin-top: 32px;" id="stateForm"
					  name="stateForm" action="javascript:void(0);">
					<div class="form-group">
						<select style="width:100%" class="select2" id="stateSelect" required></select>
					</div>
					<div class="form-inline">
						<div class="form-group">
							<div id="stateAutomaticLocation" class="btn btn-default" tabindex="1">Detect
							</div>
							<button type="submit" id="stateFormButton" class="btn btn-primary" tabindex="3">Submit
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<% include ./common/page-footer.ejs %>
<%
var appModule = '/js/app-landing';
%>
<% include ./common/require-application.ejs %>
</body>
</html>