<% include ./common/header.ejs %>
<meta property="og:site_name" content="Total Briecall"/>
<meta property="og:locale" content="en_US" />
<meta property="og:title" content="Some title" />
<meta property="og:url" content="https://totalbriecall.com" />
<meta property="og:description" content="Workday, a provider of cloud-based
applications for human resources, said on Monday that it would seek to price
its initial public offering at $21 to $24 a share.  At the midpoint of that
range, the offering would value the company at $3.6 billion. Like many other
technology start-ups, Workday, founded in 2005, will have a dual-class share
structure, with each Class B share having 10 votes. Its co-chief executives,
David Duffield, the founder of PeopleSoft, and Aneel Bhusri, who was chief
strategist at PeopleSoft, will have 67 percent of the voting rights after
the I.P.O., according to the prospectus." />
<meta property="fb:app_id" content="[FB_APP_ID]" />
<meta property="og:type" content="article" />
<meta property="og:image" content="http://graphics.myfavnews.com/images/logo-100x100.jpg" />
<meta property="article:author" content="https://www.facebook.com/fareedzakaria" />
<meta property="article:publisher" content="https://www.facebook.com/cnn" />

</head>
<body class="bg-void">
    <div class="navmenu navmenu-default">
        <!-- off-canvas menu goes here -->
    </div>
    <div class="container-flexible">
        <!-- placeholder for recall details -->
    </div>
    <script data-main="js/app-recall" src="/js/require.js"></script>
</body>
</html>