<!DOCTYPE html>
<html lang="en">
<head>
	<title>Total Briecall</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="imagetoolbar" content="false" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="stylesheet" href="/css/brie.css">
	<link rel="stylesheet" href="/css/select2.min.css">
	<link rel="stylesheet" href="/css/bootstrap-tour.min.css">
	<noscript>
		<link rel="stylesheet" href="/css/no-js.css">
	</noscript>
	<link rel="stylesheet" href="/css/leaflet.css"/>
